# WordPress theme information is stored in source/assets/stylesheets/_header.scss

# JavaScript compression
config[:compress_js] = false

# Stylesheets compression
config[:compress_css] = false

# Enable livereload
config[:livereload] = false

# You can also include additional Compass frameworks by requiring them:
# require 'boubon'
# require 'neat'